<!doctype html>
<title>{% block title %}{% endblock %} - Zrak_backend</title>

<nav>
    {% if g.user %}
    <table style="width: 100%;">
    <th style="width: 15%; border:none">
      <a href="javascript:history.back()">Back</a>
      <a href="{{url_for('manage.users_view')}}">Home</a>
    </th>
    <th style="text-align: center; width: 70%; border: none;">
      {{ uptime() }}
    </th>
    <th style="text-align: right; width: 15%; border: none;">
      Username: {{ g.user['username'] }}
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
    </th>
    </table>
    {% endif %}
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>