<!doctype html>
<title>{% block title %}{% endblock %} - Zrak_backend</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
    {% if g.user %}
    <span style="float: left;">
    <a href="javascript:history.back()">Back</a>
    <a href="{{url_for('manage.users_view')}}">Home</a>
    </span>
    <span style="float: right;">
    Username: {{ g.user['username'] }}
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
    </span>
    </br>
    {% endif %}
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>