<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% extends 'base.html' %}

{% block header %}
  <h1 style="text-align: center;">{% block title %}Users overview{% endblock %}</h1>
{% endblock %}

{% block content %}
<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <th>id</th>
        <th>time_created</th>
        <th>username</th>
        <th>email</th>
        <th>user_type</th>
        <th>actions</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user['id']}}</td>
        <td>{{user['time_created']}}</td>
        <td>{{user['username']}}</td>
        <td>{{user['email']}}</td>
        <td>{{user['user_type']}}</td>
        <td><a href="{{ url_for('manage.devices_view', user_id=user['id']) }}">Devices</a>
            <a href="{{ url_for('manage.edit_user', user_id=user['id']) }}">Edit</a>
            <a href="{{ url_for('manage.delete_user', user_id=user['id']) }}">Remove</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
