<link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
{% extends 'base.html' %}

{% block header %}
  <h1 style="text-align: center;">{% block title %}Edit user "{{user['username']}}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
        <table style="margin-left: auto;margin-right: auto;">
          <tr>
            <td><label for="username">Username</label></td>
          </tr>
          <tr>
            <td><input name="username" id="username"></td>
          </tr>
          <tr>
            <td><label for="email">Email</label></td>
          </tr>
          <tr>
            <td><input name="email" id="email"></td>
          </tr>
          <tr>
            <td><label for="user_type">User type</label></td>
          </tr>
          <tr>
            <td><input name="user_type" id="user_type" type="number"></td>
          </tr>
          <tr>
            <td><input type="submit" value="Submit"></td>
          </tr>
          <tr>
            <td>
                {% for message in get_flashed_messages() %}
                  <div class="flash" style="color: red;">{{ message }}</div>
                {% endfor %}
            </td>
          </tr>
        </table>
      </form>
{% endblock %}
