table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: fit-content;
}

h1, body, nav {
  font-family: airal, sans-serif;
}

td, th {
  border: 1px solid #777777;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}